@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
  /* background: linear-gradient(135deg, #293D55 15%, #000000 30.69%, #16152d 68.66%, #263552 100%); */
  background: rgb(255, 255, 255);
}
