.login
{
    background: rgb(237, 240, 237);
    font-family: 'Courier New', Courier, monospace; 
    height: 100vh;
}

.logincontainer{
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
}
form{
    height: 420px;
    padding: 3em;
    border-radius: 20px;
    background: rgb(116, 167, 171);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
}

form a:-webkit-any-link {
    color: rgb(221, 29, 29); /* Change the color to red */
    cursor: pointer;
    font-weight: bold;
}


p{
    font-weight: bold;
    color: #040404;
    opacity: 0.7;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input{
    background: transparent;
    width: 220px;
    font-size: 0.9em;
    color: #fff;
    padding: 1em;
    margin-bottom: 2em;
    font-weight:500;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 4px 30px  rgba(0,0,0,0.2);
}

input::placeholder{
    color: #fff;
    font-weight: 400;
}

input[type="email"]:focus,
input[type="password"]:focus{
    box-shadow: 2px 2px 40px 5px  rgba(0,0,0,0.2);
    outline: none;
}

input[type="submit"]{
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    box-shadow: 2px 2px 40px 5px  rgba(0,0,0,0.2);
}

input[type="submit"]:hover {
    color: white; 
    background-color: black; 
}


.drop{
    background:rgba(241, 238, 238, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px  rgba(0,0,0,0.2);
    position: absolute;
}
.drop-1{
    height: 70px;
    width: 70px;
    top: -15px;
    left: -35px;
    
}


.drop-2{
    height: 80px;
    width: 80px;
    bottom: -50px;
    right: -130px;
}

.drop-3{
    height: 100px;
    width: 100px;
    bottom: 130px;
    right: -65px;
    z-index:-1;
}

.drop-4{
    height: 120px;
    width: 120px;
    top: -60px;
    right: -70px;
}

.drop-5{
    height: 80px;
    width: 80px;
    bottom: 310px;
    left: -240px;
    z-index:-1;
}

.drop-6{
    height: 80px;
    width: 80px;
    bottom: 180px;
    left: -60px;
}

.drop-7{
    height: 150px;
    width: 150px;
    bottom: 50px;
    left: -300px;
}

.drop-8{
    height: 130px;
    width: 130px;
    bottom: 200px;
    right: -253px;
}