
.adminnavbar{
    height: 100px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(49, 36, 92);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.adminnavbar .inner-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    color: rgb(0, 0, 0);
}

.adminnavbar .inner-nav li{
    margin-left: 30px;
    color: rgb(0, 0, 0);
    padding: 5px;
}

.adminnavbar .inner-nav li a:-webkit-any-link {
    color: rgb(255, 255, 255); /* Change the color to red */
    cursor: pointer;

}

.adminnavbar .inner-nav li:hover {
    transform: scale(1.2); 
    transition: transform 0.3s; 
    color: rgb(7, 7, 7); 
    background: rgba(181, 224, 241, 0.5);
    
    border-radius: 10px;
  }


  .adminnavbar .logo{
    display: flex;
    align-items: center;
}

.adminnavbar .logo h1{
    font-size: 28px;
    background: -webkit-linear-gradient(#FF0099, #E650FF, #2DCFDA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.adminnavbar .button a {

    padding: 16px;
    border-radius: 3px;
    color: rgb(25, 14, 14);
    white-space: nowrap;
    background: #000000; /* fallback for older browsers*/
    background: -webkit-linear-gradient(to right, #58ffec, #f8beda);
    background: linear-gradient(to right, #3dabb3, #ead7e0);
}

.adminnavbar .hamburger{
    width: 25px;
    height: 2px;
    background-color: rgb(40,40,40);
    position: relative;
    display: none;
}

.adminnavbar .hamburger::before{
    content: "";
    position: absolute;
    top: 8px;
    width: 25px;
    height: 2px;
    background-color: rgb(40,40,40);
}
.adminnavbar .hamburger::after{
    content: "";
    position: absolute;
    bottom: 8px;
    width: 25px;
    height: 2px;
    background-color: rgb(40,40,40);
}

.adminnavbar .hamburger1{
    width: 20px;
    height: 2px;
    background-color: rgb(40,40,40);
    position: relative;
    display: none;
}

.adminnavbar .hamburger1::before{
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 25px;
    height: 2px;
    background-color: rgb(40,40,40);
    transition: ease-in 0.3s;
}
.adminnavbar .hamburger1::after{
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    width: 25px;
    height: 2px;
    background-color: rgb(40,40,40);
    transition: ease-in 0.3s;
}

@media (max-width:765px){
    .home{
        width: 95%;
    }
    .hamburger{display: block;}
    .hamburger1{display: block; background-color: transparent;}

    .inner-nav{
        display: block;
        position: absolute;
        background: #e6e6e6;
        left: 0;
        z-index: 10;
        margin-top: 40px;
        padding: 40px 0;
        border-radius: 0 5px 5px 0px;
        transition: ease-in 0.3s;
    }

    .inner-nav li {
        margin-bottom: 25px;
        margin-left: 0;
        font-size: 16px;
        width: 80%;
        background: #e6e6e6;
    }

    .inner-nav li a{
        width: 80%;
        padding-left: 50px;
        padding-right: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: rgb(0, 0, 0);
    }

    .inner-nav a:-webkit-any-link {
        color: rgb(0, 0, 0); /* Change the color to red */
        cursor: pointer;
        text-decoration: underline;
    }
    
}