
.containermodal {
    margin-top: 30px;
    margin-left: -300px;
    display: flex;
    width: 1300px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
 .projectmodal {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 1200px;
    
  }
  .add-project {
    margin-bottom: 40px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .projectmodal1{
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .Project{
    margin-bottom: 50px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: rgb(186, 215, 214);
  }

 
   .Project-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .Project-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-teal {
    background-color: #000000;
  }
  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  .user {
    display: flex;
    margin-top: auto;
  }
  
  .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .user-info h5 {
    margin: 0;
  }
  .user-info small {
    color: #545d7a;
  }
  
  
  