.admin-profile {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    height: 200px;
    margin-top: 50px;
    margin-left: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
  }
  .view-profile2{
    margin: 0 ;
    position: relative;
      display: flex;
      flex-direction: row;
      text-align: center;
  }

  .view-profile2 h3 {
      margin: 0;
      margin-right: 30px;
  }

  .view-profile2 p{
    margin-left: 30px;
  }

  .view-profile2 .link{
    color: #3939c3;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .edit-profile {
    display: flex; 
    flex-direction: column;
  }

  .edit-profile label {
    margin-top: 20px;
    color: blue;
    font-size: 16px;
  }
  
  .edit-profile input[type="text"],
    textarea {
      color: #000000;
      padding: 15px;
      width: 80%;
      background-color: #dfe8e8;
      border-radius: 10px;
    }
  
    .edit-profile button {
        border: none;
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        width: 200px;
        cursor: pointer;
        border-radius: 10px;
        color: rgb(25, 14, 14);
        white-space: nowrap;
        background: #000000; /* fallback for older browsers*/
        background: -webkit-linear-gradient(to right, #58ffec, #f8beda);
        background: linear-gradient(to right, #3dabb3, #ead7e0);
        
    }




  
  
  .view-profile {
    /* text-align: center; */
    margin-bottom: 50px;
  }
  
    .view-profile img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 10px 0;
    }
  
    .view-profile h2 {
      margin: 5px 0;
    }
  
    .view-profile p {
      color: #777;
      margin: 5px 0;
    }
  
    .admin-profile button {
        border: none;
        margin-right: 100px;
        margin-bottom: 100px;
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        height: 50px;
        width: 200px;
        cursor: pointer;
        border-radius: 10px;
        color: rgb(25, 14, 14);
        white-space: nowrap;
        background: #000000; /* fallback for older browsers*/
        background: -webkit-linear-gradient(to right, #58ffec, #f8beda);
        background: linear-gradient(to right, #3dabb3, #ead7e0);
  }
  
  