.view-project {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projects {
    text-align: center;
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(195, 216, 223);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .projects h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .projects ul {
    list-style: none;
    padding: 0;
  }
  
  .projects li {
    text-align: justify;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .projects h3 {

    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .projects span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: blue;
  }

  

  .projects p {
    height: 50px;
    padding: 5px;
    font-size: 17px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #888888;
  }
  
  .projects input[type="text"] {
    border: none;
    height: 50px;
    border-bottom: 3px solid rgb(31, 16, 110);
    padding: 8px 10px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .projects  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
  

.project-button {
  display: flex; /* Use flex display */
  justify-content: space-between; /* Place items at each end of the container */
  margin-left: 300px;
  margin-right: 300px;

}

  .projects   button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 180px;
    background-color: #000000;
    color: wheat;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .projects button:hover {
    background-color: #ffffff;
    color: #000000;
    outline: 2px solid black;
  }
  